[submodule "themes/terminal"]
	path = themes/terminal
	url = https://github.com/GideonWolfe/hugo-theme-terminal.git
[submodule "themes/terminal-theme"]
	path = themes/terminal-theme
	url = https://github.com/panr/hugo-theme-terminal.git
